<vs-row vs-w="12">
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12" >
   <h1>จัดการพนักงาน⠀⠀</h1>
  </vs-col>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="8" vs-sm="4" vs-xs="12">
   
  </vs-col>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-lg="2" vs-sm="4" vs-xs="12">
    <vs-button color="success" type="gradient">เพิ่มพนักงาน</vs-button>
  </vs-col>
</vs-row>
     