<!-- =========================================================================================
    File Name: TableMiscellaneous.vue
    Description: Combine filter,sorter, pagination etc.
    ----------------------------------------------------------------------------------------
    Item Name: Vuexy - Vuejs, HTML & Laravel Admin Dashboard Template
      Author: Pixinvent
    Author URL: http://www.themeforest.net/user/pixinvent
========================================================================================== -->


<template>
<p></p>
    
</template>

<script>
import Prism from "vue-prism-component";
import vSelect from 'vue-select'

export default {
  
  data() {
    return { 
      input1: '',
      input2: '',
      input3: '',
      input4: '',
      input5: '',
      Addemployee: false,
      selected: [],
      tableList: [
        "vs-th: Component",
        "vs-tr: Component",
        "vs-td: Component",
        "thread: Slot",
        "tbody: Slot",
        "header: Slot"
      ],
      users: [
        {
          id: 1,
          name: "นายภัทรดนัย ช่างเหลา",
          username: "Bret",
          email: "patdanai@gmail.com",
          call: "0858545678",
          position: "พ่อครัว"
        },
        {
          id: 2,
          name: "นายธราพงษ์ คงกระพันธ์",
          username: "Bret",
          email: "tarapong@email.com",
          call: "0812345678",
          position: "พนักงาน"
        },
        {
          id: 3,
          name: "นางสาวนิรดา สุขจิตต์",
          username: "Bret",
          email: "nirada@email.com",
          call: "0879733197",
          position: "ครัว"
        },
        {
          id: 4,
          name: "นายจิระ มะยุรา",
          username: "jira",
          email: "Sincere@april.biz",
          call: "0887652518",
          position: "แคชเชียร์"
        }
      ],
      position: [
        {
          countryCode: "INR",
          PositionName: "พ่อครัว",
        },
        {
          countryCode: "AUS",
          PositionName: "แคชเชียร์",
        },
        {
          countryCode: "CA",
          PositionName: "พนักงาน",
        },
      ],
      prefix: [
        {
         prefixName: "นาย"
        },
        {
          prefixName: "นาง"
        },
      ]
    };
  },
  components: {
    'v-select': vSelect,
    Prism
    
  }
};
</script>
